<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trinity Games</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="slider.css">
</head>
<body>


    <div id="mainBlock">
                                <!-- BLOCK 1 - Main -->
        <section class="allBlock" id="firstBlock" name="first">
            <div id="planet1Block">
                <img alt="planet" id="planet1" src="planet.png">
            </div>
            <div id="planet2Block">
                <img alt="cloudDown" id="cloudDownImg" src="images/cloud_down.png">
                <img alt="planet" id="planet2" src="planet_2.png">
            </div>
            <div id="logoBlock" class="animated animatedFadeInUp fadeInUp">
                <img alt="trinityGame" id="logo" src="images/trinity_game.png">
            </div>
                <!--    Menu bar        -->
                <div class="menubar animated animatedFadeInUp fadeInUp">
                    <div class="button">
                        <a href="#about">
                            <img alt="about" class="buttonImg" src="images/button.png">
                            <span class="aboutText">About</span>
                        </a>
                    </div>
                    <div class="button">
                        <a href="#game">
                            <img class="buttonImg" alt="game" src="images/button.png">
                            <span class="gamesText">Games</span>
                        </a>
                    </div>
                    <div class="button">
                        <a href="#contact">
                            <img class="buttonImg" alt="contact" src="images/button.png">
                            <span class="contactText">Contact</span>
                        </a>
                    </div>
                </div>
        </section>

                                    <!-- BLOCK 2  - About -->
        <section class="allBlock" id="about">
              <div id="planetGame">
                  <img alt="planetGame" src="images/planet%20game.png" id="planetGameImg">
              </div>
             <div id="cloud">
                <img alt="cloud" id="cloudImg" src="images/cloud.png">
             </div>
              <div id="gameStudioText">
                  <h2 id="firstText">Game Studio</h2><br>
                  <h1 id="secondText">We Entertain The World</h1><br>
                  <span id="thirdText">We build awesome games for our players.
                      We build awesome games for our players.
                      We build awesome games for our players.
                      We build awesome games for our players.
                      We build awesome games for our players.
                      We build awesome games for our players.
                      We build awesome games for our players. </span>
                  <div id="gameButton">
                      <a href="#game">
                          <img class="buttonImg" alt="contact" src="images/button.png">
                          <span id="gameText">Game</span>
                      </a>
                  </div>
              </div>
            <!--    Menu bar        -->
        </section>
                                            <!-- BLOCK 3 - Game  -->
        <section class="allBlock" id="game">
            <div class="slider">
                <div class="slider__container">
                    <div class="slider__wrapper">
                        <div class="slider__items">
                            <div class="slider__item">
                                <a href="https://play.google.com/store/apps/details?id=com.TrinityGamesTeam.PathFinder&hl=en_US&gl=US">
                                    <img alt="googlePlay" class="googlePlay" src="images/googlePlay.png">
                                </a>
                                <a href="https://apps.apple.com/app/pathfinder-puzzle/id1555590822">
                                    <img alt="appStore" class="appStore" src="images/appStore.png">
                                </a>
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0pQ-D6x8bBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="slider__item">
                                <!-- Контент 2 слайда -->
                            </div>
<!--                            <div class="slider__item">-->
<!--                                &lt;!&ndash; Контент 3 слайда &ndash;&gt;-->
<!--                            </div>-->
<!--                            <div class="slider__item">-->
<!--                                &lt;!&ndash; Контент 4 слайда &ndash;&gt;-->
<!--                            </div>-->
<!--                            <div class="slider__item">-->
<!--                                &lt;!&ndash; Контент 5 слайда &ndash;&gt;-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <a href="#" class="slider__control" data-slide="prev"></a>
                <a href="#" class="slider__control" data-slide="next"></a>
                <ol class="slider__indicators">
                    <li data-slide-to="0"></li>
                    <li data-slide-to="1"></li>
<!--                    <li data-slide-to="2"></li>-->
<!--                    <li data-slide-to="3"></li>-->
<!--                    <li data-slide-to="4"></li>-->
                </ol>
            </div>
        </section>
                                        <!-- BLOCK 4 - Contact   -->
        <section class="allBlock" id="contact">
            <!--    Menu bar        -->
        </section>
                             <!-- BLOCK 5 - Footer -->
        <section class="allBlock" id="footer">
            <div id="footerBlock">
<!--                <img alt="footer" id="footerImg" src="images/footer.png">-->
            </div>
        </section>
        <img alt="comet" class="comet" id="comet" src="images/Mitiors%20Animation.png">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script defer src="slider.js"></script>
    <script src="scrollify.js"></script>
    <script src="script.js"></script>
    <script src="diagonalFall.js"></script>
</body>
</html>
